.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F5F5F5;
}

.card_content{
  width: 25%;
  height: 60%;
}

.App .card_content .content_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFC20E;
  height: 50%;
}

.App .card_content .content_header .txtfield {
  width: 95%;
}

.App .card_content .content_header .txtconsulte{
  font-weight: 600;
  font-size: 2vw;
  color: #FFFF;
  margin-bottom: 10px;
}

.App .card_content .content_bottom {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .card_content .content_header .btnsearch {
  width: 80%;
  margin-top: 20px;
  
}
