.ContentResult{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_data{
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
